/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
  font-family: 'Lato';
} 
@font-face {
  font-family: 'BonVivant';
  src: url('../BonVivant.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BonVivantSerif';
  src: url('../BonVivantSerif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BonVivantSerifBold';
  src: url('../BonVivantSerifBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.header {
  background-color: #252934;
  background-color: #E8C2B9;
  color: white;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header h1 {
  font-family: 'BonVivantSerif';
  font-size: 50px;
  margin: 0;
  letter-spacing: 1px;
}

.header h1 span {
  font-family: 'BonVivant';
  font-size: 70px;
  margin: 0;
  letter-spacing: initial;
}

.header h2 {
  font-family: 'BonVivantSerif';
  font-size: 40px;
  margin-top: 20px;
  letter-spacing: 1px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.letter {
  display:inline-block;
  position:relative;
  height: 2rem;
  line-height: 2rem;
}
.letter::after {
  position: absolute;
  left: 0;
  height: 2rem;
  content: attr(data-letter);
}

.button-span {
  display:block;
  height: 2rem;
  overflow: hidden;
}

.btn {
  color: white;
  position:relative;
  border-radius: 30px;
  border: 2px solid white;
  background-color: transparent;
  font-family: 'Lato';
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}


body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button:focus {outline: none !important;}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: white;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  float: left;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

menu div p {
  font-size: 25px;
  color: white;
  padding: 5px 30px;
}

li a:hover {
  background-color: #111111;
}

.main-contain {
  margin: 0px 50px;
}

.container {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.rotate {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-22deg);
  transform: translateX(-50%) translateY(-50%) rotate(-22deg);
}

.job-box {
  width: 400px;
  box-shadow: 0 0.25rem 1rem rgba(0,0,0,.08);
  transition: .3s;
  margin: 80px 15px 0;
  min-height: 460px;
}

.job-box-link {
  color: black;
}

.job-box .text-container {
  margin: 20px;
}

.text-container h3 {
  font-size: 22px;
  margin-bottom: 0px;
}

.text-container h4 {
  margin-top: 2px;
  font-weight: 300;
  font-size: 18px;
}

.text-container p {
  font-weight: 300;
  font-size: 16px;
}

.job-box:hover {
  box-shadow: 0 0.75rem 2rem rgba(0,0,0,.16);
  text-decoration: none;
  transition: .3s;
  color:black;
}

.job-box img {
  width:400px;
  box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.04);
}

.about-container, .project-container {
  margin: 70px;
  font-size: 18px;
}

.about-container span {
  background: black;
  color: salmon;
}

.react-multi-carousel-list img {
  max-height: 500px;
  width: auto !important;
  max-width: 500px;
}

.project-container h1{
  font-size: 40px;
}

.project-container p {
  margin-bottom: 30px;
}

.circle {
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
  background: #c5dce1;
  font-size: 35px;
}

.skills-container h3{
  text-align: center;
  font-family: 'BonVivant';
  font-size: 70px;
}

.skills-container {
  padding: 0 50px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.circle-title {
  font-size: 24px;
  text-align: center;
  padding-top: 15px;
  color: #71AAB6;
  font-family: 'BonVivantSerifBold';
}

.circle-text {
  text-align: center;
  padding-top: 10px;
}

.child {
  padding: 0 35px;
}

.parent-container {
  display:flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}